html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    margin: 50px auto;
    overflow: overlay;
    border: 10px solid;
    padding: 2em;
    border-top-color: rgba(34, 50, 117, 0.88);
    border-left-color: rgba(38, 50, 93, 0.75);
    border-bottom-color: rgba(10, 17, 38, 0.75);
    border-right-color: rgba(52, 66, 167, 0.88);
    position: relative;
}

.header {
    margin: 2em;
    position: fixed;
    padding-top: 3em;
    left: 47%;
}

section img {
    position: absolute;
    width: 100%;
    max-width: 100%;
    z-index: -1;
    height: 20em;
}

.section2 {
    position: relative;
    width: 100%;
    max-width: 100%;
}

section {
    height: 21em;
    width: 100%;
    border: 1px solid black;
}

#menu {
    padding-top: 10em;
    border: 1px solid black;
    background: url("../images/blue_fog_by_tanath-d4vnb2l.jpg");
    height: 100%;
}

.neato-header {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    min-width: 50%;
    text-align: center;
    top: 50%;
    border-top: none;
}

.neato-header h1, .neato-header h2 {
    letter-spacing: 0.05em;
}

.neato-header h1 {
    font-size: 65px;
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
}

.neato-header h2 {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-family: "Vollkorn";
    font-weight: italic;
    font-size: 21px;
    overflow: hidden;
    margin: -30px -33px 0 -33px;
    position: absolute;
    width: calc( 100% + 6px);
}

.neato-header h2:before, .neato-header h2:after {
    content: "";
    position: absolute;
    width: 100%;
    margin-top: -2px;
    border-top: 3px solid white;
    top: 50%;
}

.neato-header h2:before {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    margin-left: -30px;
}

.neato-header h2:after {
    margin-left: 30px;
}

#resetButton {
    color: #f50101;
    float: right;
    background-color: #5fc74d;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #402222;
    border-color: #33C3F0;
}

.messages {
    background: url(../images/beachcombers-top-a-background-fill.jpg);
    margin-right: auto;
    margin-left: auto;
    width: auto;
    text-align: center;
    font-style: normal;
    color: rgba(230, 230, 230, 0.85);
    background-size: cover;
    border-radius: 4px;
    display: block;
}

div.dataListContainer {
    display: flex;
    margin-top: 6em;
    margin-bottom: inherit;
}

table, th, td {
    border: 2px solid black;
    width: 25%;
    padding: 0px;
    font-variant: small-caps;
    font-size: 20px;
    text-align: -webkit-center;
}

pre {
    margin-bottom: -0.5rem;
    font-size: initial;
    background-color: rgba(0, 100, 0, 0.41);
    opacity: .8;
}

div #imageOut {
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: relative;
}

img.shoes {
    border: 0;
    height: 20em;
    width: 25em;
}

p.messageOut, pre {
    text-align: -webkit-center;
}

div.searchResults h2 {
    font-style: oblique;
    text-decoration: underline;
}
